[loggers]
keys=root

[handlers]
keys=TimedFileManager, ADifferentHandler

[formatters]
keys=TFMFormatter, ADifferentFormatter

[logger_root]
level=DEBUG
handlers=TimedFileManager

[handler_TimedFileManager]
class=logging.handlers.TimedRotatingFileHandler
args=('./logs/9_advanced_config_managed.log','s',1,3)
formatter=TFMFormatter
level=DEBUG

[handler_ADifferentHandler]
class=StreamHandler
formatter=ADifferentFormatter
args=()

[formatter_TFMFormatter]
format=%(asctime)s - %(levelname)s - %(message)s [%(name)s]

[formatter_ADifferentFormatter]
format=%(message)s